.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.dropdown_links_header{
   background-color: #feffff;
   color: rgb(197, 192, 192);
   padding: 16px;
   font-size: 16px;
   border: none;
}
.student_information{
   color: grey;
}
.student_info_and_photo{
   display: flex;
   flex-direction: row;
}
.sign-out{
   background-color: coral;
   color: rgb(9, 8, 8);
   padding: 5px;
   font-size: 16px;
   border: none;
}
h1{
   padding-left: 105px;
}
.important_links_block{
   display: flex;
   justify-content: center;
}
.ImportantLinks{
   background-color: #1f4582;
   color: rgb(239, 236, 236);
   padding: 15px;
   font-size: 15px;
   border: none;
}
.ImportantLinks_whatsapp{
   background-color: rgb(32, 102, 35);
   color: #feffff;
   padding: 15px;
   font-size: 15px;
   border: none;
}
.promotions{
   display: flex;
   flex-direction: row;
}
.happenings{
   background-color: #cfc9c9;
   font-size: 32px;
   border: 2px solid black;
}